{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main class="py-5">
  
  <div class="container-fluid py-5">
  </div>
  <div class="container py-5">
    <div class="pagetitle">
      <h1>Profile</h1>
      
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              {% if member.image_path %}
              <img src="{{ member.image_path.url }}" alt="Profile" class="rounded-circle">
              {% else %}
              <h6>No Image</h6>
              {% endif %}
              <h2>{{ member.name }}</h2>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#add-investment">Add Investment</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#request-withdrawal">Request Withdrawal</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                {% include 'investMe/profile-overview.html' %}
                {% include 'investMe/profile-edit.html' %}
                {% include 'investMe/profile-setting.html' %}
                {% include 'investMe/profile-change-password.html' %}
                {% include 'investMe/add-investment.html' %}
                {% include 'investMe/request-withdrawal.html' %}

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
        $(document).ready(function(){
            $('#profileForm').on('submit', function(e){
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: "{% url 'investmeapp:update_profile' %}",
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function(response){
                        alert(response.message);
                        // Optionally, you can redirect or update the page here
                    },
                    error: function(xhr){
                        var errors = xhr.responseJSON.errors;
                        var errorText = '';
                        for (var key in errors) {
                            if (errors.hasOwnProperty(key)) {
                                errorText += errors[key] + '\n';
                            }
                        }
                        alert(errorText);
                    }
                });
            });
        });
    </script>

<script>
  $(document).ready(function(){
      $('#passwordChangeForm').on('submit', function(e){
          e.preventDefault();

          $.ajax({
              type: 'POST',
              url: "{% url 'investmeapp:change_password' %}",
              data: new FormData(this),
              processData: false,
              contentType: false,
              success: function(response){
                  alert(response.message);
                  // Optionally, you can redirect or update the page here
              },
              error: function(xhr){
                  var errors = xhr.responseJSON.errors;
                  var errorText = '';
                  for (var key in errors) {
                      if (errors.hasOwnProperty(key)) {
                          errorText += errors[key] + '\n';
                      }
                  }
                  alert(errorText);
              }
          });
      });
  });
</script>

<script>
  $(document).ready(function(){
      $('#addInvestment').on('submit', function(e){
          e.preventDefault();

          $.ajax({
              type: 'POST',
              url: "{% url 'investmeapp:investment' %}",
              data: new FormData(this),
              processData: false,
              contentType: false,
              success: function(response){
                  alert(response.message);
                  // Optionally, you can redirect or update the page here
              },
              error: function(xhr){
                  var errors = xhr.responseJSON.errors;
                  var errorText = '';
                  for (var key in errors) {
                      if (errors.hasOwnProperty(key)) {
                          errorText += errors[key] + '\n';
                      }
                  }
                  alert(errorText);
              }
          });
      });
  });
</script>
<script>
  $(document).ready(function(){
      $('#requestWithdrawal').on('submit', function(e){
          e.preventDefault();

          $.ajax({
              type: 'POST',
              url: "{% url 'investmeapp:request_withdrawal' %}",
              data: new FormData(this),
              processData: false,
              contentType: false,
              success: function(response){
                  alert(response.message);
                  // Optionally, you can redirect or update the page here
              },
              error: function(xhr){
                  var errors = xhr.responseJSON.errors;
                  var errorText = '';
                  for (var key in errors) {
                      if (errors.hasOwnProperty(key)) {
                          errorText += errors[key] + '\n';
                      }
                  }
                  alert(errorText);
              }
          });
      });
  });
</script>

{% endblock extra_scripts %}