{% extends 'mobirise/mobirisbase.html' %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row justify-content-center">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
    </div>
</div>
<section data-bs-version="5.1" class="header18 cid-ug3d4Kvstw mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/U1c3RBjXdl0?autoplay=1&amp;loop=1&amp;playlist=U1c3RBjXdl0&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-15-ug3d4Kvstw">
  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Grow Together</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Join the Delainah Optimah revolution and sow the seeds of success in our vibrant community.</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" href="/">Explore More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="gallery07 cid-ug3d4KvBwL" id="gallery-14-ug3d4KvBwL">
  
  
  <div class="container-fluid gallery-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-container-3 moving-left" style="transform: translate3d(-200px, 0px, 0px);">
        <div class="grid-item">
          <img src="{% static 'mobirise/images/photo-1534073133331-c4b62a557083.jpeg' %}" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="{% static 'mobirise/images/photo-1507662228758-08d030c4820b.jpeg' %}" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="{% static 'mobirise/images/fields.jpeg' %}" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="{% static 'mobirise/images/photo-1560493676-04071c5f467b.jpeg' %}" alt="Mobirise Website Builder">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article01 cid-ug3d4KxJVP" id="about-us-1-ug3d4KxJVP">
	

	
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="card col-md-12 col-lg-12">
				<div class="card-wrapper">
					<div class="row">
						<div class="image-wrapper col-12 col-sm-6 justify-content-center">
							<img src="{% static 'mobirise/images/photo-1563514227147-6d2ff665a6a0.jpeg' %}" alt="Mobirise Website Builder">
						</div>
						<div class="image-wrapper col-12 col-sm-6 justify-content-center">
							<img src="{% static 'mobirise/images/photo-1512237798647-84b57b22b517.jpeg' %}" alt="Mobirise Website Builder">
						</div>
					</div>

					<div class="card-box align-left mb-3 card-content-text">
						<h4 class="card-title mbr-fonts-style mbr-white mb-0 display-5">
							<strong>Our Green Mission</strong>
						</h4>
						<p class="mbr-text mbr-fonts-style mt-3 mb-0 display-7">At Delainah Optimah, we're not just a bunch of farmers; we're a force of nature! Our mission is to cultivate a greener future for all, one seed at a time.</p>

						<p class="mbr-text mbr-fonts-style mt-3 mb-0 display-7">Join us in our quest to revolutionize agriculture and nurture a community that thrives on growth and sustainability.</p>

						<p class="mbr-text mbr-fonts-style mt-3 mb-0 display-7">We believe in dirt, sweat, and a little bit of magic. Let's dig in and grow together!</p>

						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="features03 cid-ug3d4KyfNV" id="events-1-ug3d4KyfNV">
  
  
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 content-head">
        <div class="mbr-section-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Upcoming Gatherings</strong>
          </h4>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item features-image col-12 col-md-6 col-lg-3 active">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="{% static 'mobirise/images/photo-1451440063999-77a8b2960d2b.jpeg' %}" alt="Mobirise Website Builder" title="">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
              <strong>Harvest Fest Extravaganza</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">July 5, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Get ready for a day of fun, food, and farming frenzy! Don't miss out on the biggest event of the season!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="{% static 'mobirise/images/photo-1590682680695-43b964a3ae17.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Seed Swap Social</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">August 15, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Exchange seeds, stories, and smiles with fellow Delainah Optimah members. Let's plant the seeds of friendship!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="{% static 'mobirise/images/photo-1536657464919-892534f60d6e.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Green Gala Night</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">September 20, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Dress to impress and celebrate our green achievements under the starlit sky. It's a night to remember!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="{% static 'mobirise/images/photo-1467740100611-36858db27485.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Farmers Market Madness</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">October 10, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Shop fresh produce, handmade goods, and more at our bustling market. Support local farmers and artisans!</p>
            <div class="mbr-section-btn item-footer">
              <a href="" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="people03 cid-ug3d4KzMb0" id="team-1-ug3d4KzMb0">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Meet Our Crew</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'mobirise/images/photo-1591084728795-1149f32d9866.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Ethan</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Chief Farming Officer</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'mobirise/images/photo-1676385901160-31e1b9e1c0c7.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Olivia</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Agricultural Innovator</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'mobirise/images/photo-1527718641255-324f8e2d0421.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Liam</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Soil Whisperer</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                       <img src="{% static 'mobirise/images/photo-1545803928-04e3f4cdd4ed.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Ava</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Seed Specialist</h6>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features023 cid-ug3d4Kzf6s" id="metrics-1-ug3d4Kzf6s">

    

    
    
    <div class="container">
        
        <div class="row content-row justify-content-center">
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>100K+</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Happy Harvesters</strong>
                    </h4>
                    
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>500+</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Bumper Crops Sold</strong>
                    </h4>
                    
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="title mb-2 mb-md-3">
                        <span class="num mbr-fonts-style display-1">
                            <strong>99%</strong></span>
                    </div>
                    <h4 class="card-title mbr-fonts-style display-5">
                        <strong>Satisfied Sowers</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="pricing02 cid-ug3d4KzSgd" id="product-list-9-ug3d4KzSgd">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Farmers' Market</strong>
                    </h4>
                    
                    
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in object_list %}
            <div class="item features-image col-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{{ item.image.url }}" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>{{ item.title }}</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style display-7">${{ item.price }}</h6>
                        <p class="mbr-text mbr-fonts-style display-7">{{ item.description }}</p>
                        <div class="mbr-section-btn item-footer">
                            <a href="{{ item.get_absolute_url }}" class="btn item-btn btn-primary display-7">Buy Now</a>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
            <!-- <div class="item features-image col-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'mobirise/images/photo-1495107334309-fcf20504a5ab.jpeg' %}" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Fruitful Bounty</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style display-7">$15</h6>
                        <p class="mbr-text mbr-fonts-style display-7">Assorted fresh fruits straight from the orchard</p>
                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'mobirise/images/photo-1466692476868-aef1dfb1e735.jpeg' %}" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Floral Delight</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style display-7">$8</h6>
                        <p class="mbr-text mbr-fonts-style display-7">Colorful blooms to brighten your day</p>
                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'mobirise/images/photo-1594771804886-a933bb2d609b.jpeg' %}">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Honey Harvest</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style display-7">$12</h6>
                        <p class="mbr-text mbr-fonts-style display-7">Pure, golden honey from busy bees</p>
                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'mobirise/images/photo-1499529112087-3cb3b73cec95.jpeg' %}" data-slide-to="4">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Eggcellent Eggs</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style display-7">$3</h6>
                        <p class="mbr-text mbr-fonts-style display-7">Organic eggs laid by happy hens</p>
                        <div class="mbr-section-btn item-footer">
                            <a href="" class="btn item-btn btn-primary display-7">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'mobirise/images/photo-1519897831810-a9a01aceccd1.jpeg' %}" data-slide-to="5">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Moo Moo Milk</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style display-7">$5</h6>
                        <p class="mbr-text mbr-fonts-style display-7">Farm-fresh milk straight from the cows</p>
                        <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Buy Now</a></div>
                    </div>
                </div>
            </div> -->
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="news08 cid-ug3d4KAzwZ" id="blog-3-ug3d4KAzwZ">
    
    
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>AgriBuzz News</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row mbr-masonry" data-masonry="{&quot;percentPosition&quot;: true }">
            <div class="item features-image col-12 col-md-6 col-lg-6 active">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'mobirise/images/photo-1498191923457-88552caeccb3.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-7">June 15, 2024</h5>
                        <h6 class="item-subtitle mbr-fonts-style display-5">
                            <strong>Revolutionizing Farming Practices for Sustainable Growth</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Discover the latest techniques making waves in agriculture</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'mobirise/images/photo-1444858291040-58f756a3bdd6.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-7">June 12, 2024</h5>
                        <h6 class="item-subtitle mbr-fonts-style display-5">
                            <strong>The Secret to Juicy Tomatoes Revealed by Experts</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Discover the latest techniques making waves in agriculture</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'mobirise/images/photo-1461354464878-ad92f492a5a0.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-7">June 10, 2024</h5>
                        <h6 class="item-subtitle mbr-fonts-style display-5">
                            <strong>Community Spotlight: Farmer of the Month</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Celebrating the dedication and hard work of our members</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'mobirise/images/photo-1500382017468-9049fed747ef.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-7">June 5, 2024</h5>
                        <h6 class="item-subtitle mbr-fonts-style display-5">
                            <strong>5 Tips for a Thriving Vegetable Garden</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Expert advice to grow your greens like a pro</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'mobirise/images/photo-1588152850700-c82ecb8ba9b1.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-7">June 1, 2024</h5>
                        <h6 class="item-subtitle mbr-fonts-style display-5">
                            <strong>The Buzz About Organic Farming Practices</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Unveiling the benefits of going green in agriculture</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{% static 'mobirise/images/photo-1469122312224-c5846569feb1.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-7">May 28, 2024</h5>
                        <h6 class="item-subtitle mbr-fonts-style display-5">
                            <strong>From Farm to Table: The Journey of Fresh Produce</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">Explore the path our farm-fresh products take to reach you</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider4 mbr-embla cid-ug3d4KATAr" id="gallery-13-ug3d4KATAr">
  
  
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-12">
        <div class="embla position-relative" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-loop="true" data-auto-play="true" data-auto-play-interval="5" data-draggable="true">
          <div class="embla__viewport">
            <div class="embla__container">
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'mobirise/images/photo-1562758619-78207a23a6e0.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'mobirise/images/photo-1457530378978-8bac673b8062.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'mobirise/images/photo-1429991889170-afd56b2a1210.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'mobirise/images/photo-1454179083322-198bb4daae41.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="{% static 'mobirise/images/photo-1470685983317-0084951ce1ca.jpeg' %}" alt="Mobirise Website Builder" title="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="embla__button embla__button--prev">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Previous</span>
          </button>
          <button class="embla__button embla__button--next">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="people05 cid-ug3d4KA6SL" id="testimonials-5-ug3d4KA6SL">
	

	
	
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Thrilled</strong>
				</h3>
				
			</div>
		</div>
		<div class="row">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Joining the cooperative was a game-changer for me! I've never seen such fresh produce before.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="{% static 'mobirise/images/photo-1692558588242-57cec1e32bba.jpeg' %}" alt="" data-slide-to="0" data-bs-slide-to="0">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Samantha Green</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">The online shop is a treasure trove of agricultural wonders. I'm hooked!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="{% static 'mobirise/images/photo-1541881856704-3c4b2896c0f8.jpeg' %}" data-slide-to="1" data-bs-slide-to="1" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Michael Fields</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">Membership brought me closer to nature and a community of passionate farmers.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="{% static 'mobirise/images/photo-1644945570917-1585f682efaa.jpeg' %}" data-slide-to="2" data-bs-slide-to="2" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Emily Meadows</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">I never knew farming could be this exciting and rewarding. Count me in for life!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="{% static 'mobirise/images/photo-1629114112651-a8c8c27fb851.jpeg' %}" data-slide-to="4" data-bs-slide-to="4" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>David Harvest</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">The cooperative is a green paradise where dreams of fresh produce come true.</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="{% static 'mobirise/images/photo-1598992616139-5ed3d0fa4eeb.jpeg' %}" data-slide-to="6" data-bs-slide-to="6" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Olivia Bloom</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">I'm blown away by the quality and variety of products available in the online shop!</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="{% static 'mobirise/images/photo-1596646285603-e5f9bbfa524a.jpeg' %}" data-slide-to="7" data-bs-slide-to="7" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Benjamin Fields</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="list1 cid-ug3d4KAISf" id="faq-1-ug3d4KAISf">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 content-head">
                            <div class="mbr-section-head">
                                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                    <strong>Curious Minds</strong>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
                    <div id="bootstrap-accordion_12" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_12" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How to Join?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Becoming a member is as easy as plucking a ripe apple from a tree. Just click the 'Join Now' button!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_12" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Benefits of Membership?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Unlock a world of fresh produce, exclusive discounts, and a vibrant community of fellow farmers.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_12" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How to Shop Online?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Browse through our online shop filled with the finest agricultural products and add to cart with a click!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_12" aria-expanded="false" aria-controls="collapse4">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Shipping Information?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse4_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">We deliver faster than a cheetah chasing its prey. Expect your goodies at your doorstep in no time!</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_12" aria-expanded="false" aria-controls="collapse5">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Can I Sell My Produce?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse5_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Absolutely! Showcase your harvest to other members and users in our online marketplace.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form1 cid-ug3d4KAWF3" id="call-to-action-12-ug3d4KAWF3">
    

    

    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-7 mbr-form">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-2">
                        <strong>Join the Green Revolution Today!</strong>
                    </h5>
                </div>

                <div class="text-wrapper align-left" data-form-type="formoid">
                    <form action="/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="pzJA8/xIy8zYVTt9o0HB4UyF8uNXs9ymfos/1nQ5F/HrUYNwFaqYi2k1VZD7MYNU5gW8DOel/M3LzTapMZv2VAzty5PTgoyE068xcJX8Q7k4643XY9h1JeKYXzxZAa8x">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email" name="email" placeholder="test@email.com" data-form-field="email" class="form-control display-7" value="" id="email-call-to-action-12-ug3d4KAWF3">
                            </div>
                            <div class="col-auto mbr-section-btn">
                                <button type="submit" class="w-100 btn btn-primary display-7">Become a Member</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery10 cid-ug3d4KBZJ7" id="features-69-ug3d4KBZJ7">
  


  <div class="container-fluid">

      <div class="loop-container">
        <div class="item display-1" data-linewords="Fresh Produce Galore * Online Shop Wonderland * " data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>

        <div class="item display-1" data-linewords="Fresh Produce Galore * Online Shop Wonderland * " data-direction="-1" data-speed="0.05">☁️ Best offers ☁️ Free delivery ☁️ Perfect design ☁️ Comfort ☁️ Support 24/7 ☁️ Vibes</div>
      </div>
    
  </div>
</section>

<section data-bs-version="5.1" class="image02 cid-ug3d4KBV5p mbr-fullscreen mbr-parallax-background" id="image-13-ug3d4KBV5p">
    
    
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section data-bs-version="5.1" class="clients04 cid-ug3d4KBviS" id="clients-3-ug3d4KBviS">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Coop Partners &amp; More</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2 active">
                <div class="item-wrapper">
                    <div class="">
                        <img src="{% static 'mobirise/images/photo-1651044450619-5ce74d316987.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="{% static 'mobirise/images/photo-1554463529-e27854014799.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="{% static 'mobirise/images/photo-1596622723231-b20320c7346b.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="{% static 'mobirise/images/photo-1651853082689-706323a31427.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="{% static 'mobirise/images/photo-1681415851723-dca11d0ec9a6.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="5" data-bs-slide-to="5">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="{% static 'mobirise/images/photo-1579041925709-798d7d0fed1d.jpeg' %}" alt="Mobirise Website Builder" title="" data-slide-to="6" data-bs-slide-to="6">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="social05 cid-ug3d4KBUZ0" id="follow-us-2-ug3d4KBUZ0">
    

    

    <div class="container">
        <div class="row">
            <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                <strong>Join the Buzz</strong>
            </h3>
            <div class="col-12">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="/" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="/" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitch"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-ug3d4KCVDg" id="contact-form-2-ug3d4KCVDg">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Get in Touch</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="mdhqcUTJiIs2it9O1muU8SjBANbLVfZprPpUVTWdxWgkq1QOhd9Hqzv3YEZ0CHQ904rg1mOEYm8GePT7YdD6G8Ui3l9xD1jlc6iZ2q9WrQFKU5/3VpuDxAL9/O1WyeHz">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-2-ug3d4KCVDg">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-2-ug3d4KCVDg">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-2-ug3d4KCVDg"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



{% endblock content %}