{% extends 'mobirise/mobirisbase.html' %}

{% block content %}


<main class="mt-5 pt-4">

<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row justify-content-center">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
        </div>
    </div>
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in object.items.all %}
                    <tr>
                        <th scope="row">
                            <div class="d-flex align-items-center">
                                <img src="{{ order_item.item.image.url }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <p class="mb-0 mt-4">{{ order_item.item.title }}</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">$ {{ order_item.item.price }}</p>
                        </td>
                        <td>
                            <div class="input-group quantity mt-4" style="width: 100px;">
                                <div class="input-group-btn">
                                    <a class="btn btn-sm btn-plus rounded-circle bg-light border" href="{% url 'multivestshop:remove-single-item-from-cart' order_item.item.slug %}">
                                    <i class="fa fa-minus fa-2x"></i>
                                    </a>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center border-0" value="{{ order_item.quantity }}">
                                
                                <div class="input-group-btn">
                                    <a class="btn btn-sm btn-plus rounded-circle bg-light border" href="{% url 'multivestshop:add-to-cart' order_item.item.slug %}">
                                        <i class="fa fa-plus fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">
                                {% if order_item.item.discount_price %}
                                ${{ order_item.get_total_discount_item_price }}
                                <span class="badge badge-primary">
                                    Saving ${{ order_item.get_amount_saved }}
                                </span>
                                {% else %}
                                ${{ order_item.get_total_item_price }}
                                {% endif %}
                            </p>
                        </td>
                        <td>
                            <a class="btn btn-md rounded-circle bg-light border mt-4" href="{% url 'multivestshop:remove-from-cart' order_item.item.slug %}">
                                <i class="fa fa-times text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='5'>Your cart is empty</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                        <a class='btn btn-primary float-right' href="{% url 'multivestshop:home' %}">Continue shopping</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if object.coupon %}
        <div class="mt-5">
            <p><b>Coupon</b>
            <b>-${{ object.coupon.amount }}</b></a>
            <!-- <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button> -->
        </div>
        {% endif %}
        {% if object.get_total %}
        <div class="row g-4 justify-content-end">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                        </div>
                        <div class="d-flex justify-content-between">
                        </div>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Total</h5>
                        <p class="mb-0 pe-4">${{ object.get_total }}</p>
                    </div>
                    <a class="btn btn-warning border-secondary rounded-pill px-4 py-3 text-white text-uppercase mb-4 ms-4"
                    href="{% url 'multivestshop:checkout' %}" type="button">Proceed Checkout</a>
                    <a class="btn btn-primary border-secondary  rounded-pill px-4 py-3 text-white text-uppercase mb-4 ms-4"
                    href="{% url 'multivestshop:home' %}" type="button">Continue shopping</a>
                </div>
            </div>
        </div>
        {%endif %}
    </div>
</div>
<!-- Cart Page End -->
</main>
{% endblock content %}

