{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main class="py-5">
  <div class="container-fluid page-header py-5"></div>
  <div class="container-fluid py-5">
    <div class="container py-5">
      <h2 class="mb-4">Checkout form</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="row g-5">
          <div class="col-md-12 col-lg-6 col-xl-7">
            <div class="form-item">
              <h3>Shipping address</h3>

              <div class='hideable_shipping_form'>
                <label for="shipping_address" class="form-label my-3">Address</label>
                <input type='text' placeholder='Address here' id='shipping_address' name='shipping_address' class='form-control' />
              </div>
            </div>
            <div class="form-item">
              <label for="shipping_address2" class="form-label my-3">Address 2 (optional)</label>
              <input type='text' placeholder='Apartment or suite' id='shipping_address2' name='shipping_address2' class='form-control' />
                  
            </div>
            <div class="form-item">
              <label for="country" class="form-label my-3">Country</label>
              {{ form.shipping_country }}
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
            <div class="form-item">
              <label for="shipping_zip" class="form-label my-3">Zip</label>
              <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
            <div class="form-check my-3">
              <input type="checkbox" class="form-check-input" name="same_billing_address" id="same_billing_address">
              <label class="form-check-label" for="same_billing_address">Billing address is the same as my shipping address</label>
            </div>
            <div class="form-check my-3">
              <input type="checkbox" class="form-check-input" name="set_default_shipping" id="set_default_shipping">
              <label class="form-check-label" for="set_default_shipping">Save as default shipping address</label>
            </div>
            {% if default_shipping_address %}
            <div class="form-check my-3">
              <input type="checkbox" class="form-check-input" name="use_default_shipping" id="use_default_shipping">
              <label class="form-check-label" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:10 }}</label>
            </div>
            {% endif %}
            <hr>
            <h3>Billing address</h3>

            <div class='form-item hideable_billing_form'>
              <label for="billing_address" class="form-label my-3">Address</label>
                <input type='text' placeholder='Your Address here' id='billing_address' name='billing_address' class='form-control' />
            </div>
            <div class="form-item">
              <label for="billing_address2" class="form-label my-3">Address 2 (optional)</label>
              <input type='text' placeholder='Apartment or suite' id='billing_address2' name='billing_address2' class='form-control' />
            </div>

            <div class="form-item">
              <label for="country" class="form-label my-3">Country</label>
              {{ form.billing_country }}
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="form-item">
              <label for="billing_zip" class="form-label my-3">Zip</label>
              <input type='text' placeholder='Zip code' id='billing_zip' name='billing_zip' class='form-control' />
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>

            <div class="form-check my-3">
              <input type="checkbox" class="form-check-input" name="set_default_billing" id="set_default_billing">
              <label class="form-check-label" for="set_default_billing">Save as default billing address</label>
            </div>
            {% if default_billing_address %}
            <div class="form-check">
              <label class="form-check-label" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:10 }}</label>
              <input type="checkbox" class="form-check-input" name="use_default_billing" id="use_default_billing">
            </div>
            {% endif %}
            <hr>

            <h3>Payment option</h3>
            {% for value, name in form.fields.payment_option.choices %}
            <div class="form-check">
              <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="{{ name }}">{{ name }}</label>
            </div>
            {% endfor %}
            <hr>
            <div class="row g-4 text-center align-items-center justify-content-center pt-4">
              <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-5">
            {% include "order_snippet.html" %}
          </div>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})

</script>
{% endblock extra_scripts %}
